.dialog-open { overflow: hidden; }
h2{
	padding-left:20px;
    font-size: 2.9em;
}
h2,h3,h4{
	color:#666666;
}
#content{
	background-color:#f5f5f5;
	padding:0px;
	min-height:900px;
    overflow:hidden;
}
#backgroundImage{
	width:100%;
	height:300px;
	background-size:cover;
	background-repeat:no-repeat;
    background-position:center;
}
.smalltitle{
    
}

.defaultlink{
    height: 42px;
}
#whiteRectangle{
	position:relative;
	top:-50px;
	left:5%;
	right:5%;
	width:90%;
	background-color:white;
	border:1px solid #CCCCCC;
	box-shadow: 1px 1px 5px #888888;
    overflow:hidden;
    padding-bottom: 20px;
}
#footer{
	width:100%;
	position:relative;
	top:-50px;
	height:100px;
	background-color:#3a3a3a;
}
#footer #tappabuchi{
	width:100%;
	position:relative;
	top:+50px;
	height:100px;
	background-color:#3a3a3a;
}
.linkbackground .linkrectangle{
    position: relative;
    height: 100%;
    width: 100%;
    background-color:white;
    border-left: 6px solid #3A3A3A;
    padding-left: 5px;
    display:table;
}
.linkbackground .linkrectangle:hover{
    border-left-color: orange;
}
.linkbackground{
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color:white;
	border:1px solid #CCCCCC;
    cursor: pointer;
}

.linkimage{
    position: relative;
    height: 60%;
    margin-top: 10px;
    display: inline-block;
    width: 30px;
    background-size: 100% 100%;
}
.linkbackground .linkstring{
    display: table-cell;
    vertical-align: middle;
    height:100%;
    padding-left: 15px;
    font-size: 1.1em;
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
    
    
}

@media all and (max-width: 480px) {
    h2,h3,h4{
        text-align:center;
    }
    #backgroundImage{
        height:150px;
    }
    
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}

