#backgroundImage{
	background-image:url('images/categories/background.jpg');
}

#rightrectangle h4{
    color: black;
    margin-left: 10px;
}
    .linkbackground .linkstring{
        font-size: 1.4vw;
    }

.linklist{
    position: relative;
    padding: 0px;
    margin: 0px;
}

#leftrectangle{
    position: relative;
    float: left;
    vertical-align: top;
    margin: 0px;
    top: 0px;
    padding-right: 5%;
    padding-left: 5%;
    
    display: inline-block;
    width: 60%
    
}

#rightrectangle{
    position: relative;
    float: right;
    vertical-align: top;
    margin: 0px;
    margin-right: 10%;
    min-height: 500px;
    padding: 0px;
    display: inline-block;
    width: 30%
}

#contactsContainer{
    height:301px;
    width:100%;
    display:inline-block;
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
    
    .linkbackground .linkstring{
        font-size: 2vw;
        padding-top: 5%;
    }
    .linkrectangle .linkimage{
        display: none;
    }
}

@media all and (max-width: 480px) {
    #pageTitle{
        margin-left: 0px;
        padding: 0px;
    }

    .linklist{
        position: relative;
        width: 100%;
    }  
    
    #rightrectangle{
        position: relative;
        padding-left: 10%;
        margin-right: 5%;
        margin-left: 0px;
        width:100%;
    }
    
    #leftrectangle{
        position: relative;
        width: 100%;
        display: inherit;

    }
    .linkbackground .linkstring{
        font-size: 3.8vw;
        
    }
    .infodiv div{
        
    }

}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}

