#backgroundImage{
	background-image:url('../images/subscription/background/background.jpg');
}
#selectedCourseContainer{
    margin-top:30px;
}
#leftRectangle{
    float:left;
    width:50%;
    padding-left:5%;
}
#rightRectangle{
    float: right;
    width:50%;
}
.segmentContainer{
    display: inline-block;
    
}
.selectableSquare{
    float:left;
    overflow:hidden;
    background-image: url('../images/subscription/common/normal.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.selected{
    background-image: url('../images/subscription/common/selected.png');
}
.selectableSquare img{
    width:128px;
}
#schedule img{
    width:100%;
}
#commandButtons{
    margin-bottom:10px;
    float:left;
    width:100%;
}
#commandButtons .defaultlink{
    display: inline-block;
    width:40%;
    margin-left:5%;
    margin-right:5%;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {

}

@media all and (max-width: 480px) {
    #leftRectangle{
        float:none;
        width:100%;
        padding-left:0%;
    }
    #rightRectangle{
        margin-top: 20px;
        float:none;
        width:100%;
    }
   .selectableSquare img{
        width:64px;
    }
    #commandButtons .defaultlink{
        display: inline-block;
        width:100%;
        margin-left:0%;
        margin-right:0%;
    }
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
