#backgroundImage{
	background-image:url('../images/categories/background.jpg');
}
#categoriesListContainer {
	position:relative;
	max-width:80%;
	margin:auto;
}
.categoryBox{
	width:200px;
	height:190px;
	background-color:gray;
	background-size:cover;
	display:inline-block;
	margin:15px;
    cursor: pointer;
}
.categoryBox .categoryBoxTitle{
	width:100%;
	height:35px;
	top:0px;
	left:0px;
	display:inline-block;
	border:1px solid black;
	background-color:rgba(255, 255, 255, 0.5);
}
.categoryBox .categoryBoxTitle h4{
	color:black;
	text-align:center;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {

}

@media all and (max-width: 480px) {
    .categoryBox{
        width: 100%;
        margin:0px;
        margin-top:5px;
    }
    
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
