#content img{
	
}
#homeChooser{
    width:80%;
    height:200px;
    position:relative;
    margin:auto;
    text-align: center;
}

#categories{
    background-image: url(../images/home/bigcategories.jpg);
    background-position: center;
}
#subscribe{
    background-image: url(../images/home/bigsubscribe.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#testimonials{
    background-image: url(../images/home/bigtestimonials.JPG);
    background-position: center;
}
#instructors{
    background-position: top center;
    background-image: url(../images/home/biginstructors.JPG);
}



.homeLinkBox{
    height: 70%;
  width: 15%;
  margin: 10px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
    background-size: cover;
    cursor:pointer;
   position:relative;
   border: 1px solid black;
    
}
.homeLinkBox:hover{
   border: 2px solid orange;
    
}
.homeLinkDesc{
    position:absolute;
  bottom: 0px;
    width:100%;
  text-align: center;
  
  display: block;
    background-color: rgb(255,255,255);
}
.homeLinkDesc:hover{
    position:absolute;
    background-color: orange;
}
#homeChooser .homeChooserLink{
    background-color:white;
    position:relative;
    height:42px;
    width:300px;
    display:none;
    vertical-align:middle;
    margin-left:5px;
    margin-top:5px;
    
}
#homeChooser #homeChooserLogo{
    position:relative;
    height:200px;
    width:150px;
    margin-right:20px;
    display:inline-block;
    vertical-align:middle;
    background-image: url(../images/common/logobig.png);
    background-size: 100% 100%;
    
}


#imagesContainer{
    margin:auto;
	position:relative;
	width:96%;
    height:600px;
    padding:2%;
    margin:2%;
    background-color:white;
    border:1px solid #cccccc;
    box-shadow: 1px 1px 2px #888888
}

.square25,.square50{
    background-size:cover;
}
.square50 img {
    width:100%;
    height:100%;
}
#imagesContainer .square25{
    display: block;
    float:left;
	width:25%;
    height:50%;
}


#imagesContainer .square50{
    display: block;
    float:left;
	width:50%;
    height:50%;
}
#imagesContainer .square75{
    display: block;
    float:left;
	width:75%;
    height:75%;
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
   #homeChooser #homeChooserLogo{
        display:none;

    }
    #homeChooser{
        width:100%;
    }
     #homeChooser .homeChooserLink{
        width:100%;
    }
    .homeLinkBox{
        width:20%;
    }
}

@media all and (max-width: 480px) {
   #homeChooser{
       margin-left:0px;
       width:95%;
   }
    #homeChooser .homeChooserLink{
        display: inline-block;
    }
    .homeLinkBox{
        display: none;
    }
    #homeChooser #homeChooserLogo{
       display:none;

    }
    #homeChooser .homeChooserLink{
        width:100%;
    }
    #imagesContainer{
        width:100%;
        padding:0px;
        margin:0px;
    }
    #imagesContainer .square25{
        width:100%;
        display: inherit;
    }
    #imagesContainer .square50{
        width:100%;
        display:inherit;
    }
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
