#backgroundImage{
	background-image:url('../images/categories/background.jpg');
}
#instructorsListContainer {
	position:relative;
	width:100%;
	margin:auto;
    overflow:hidden;
}

.linkimage{
    height: 40%;
    margin-top: 5px;
}

.instructorBox{
    margin:2.5%;
	width:45%;
	height:150px;
	background-size:cover;
	display:inline-block;
    float:left;
    border:1px solid #949494;
}
.instructorImageContainer{
    float:left;
    padding:5px;
	width:20%;
	height:100%;
	background-size:cover;
	display:inline-block;
    
    
}
.instructorImageContainer div{
    height:100%;
    width:100%;
    background-size: cover;
    background-position:center;
    background-image: url('../images/instructors/smallSquare/arnold.png');
}
.instructorInfoContainer{
    float:right;
    position:relative;
	width:80%;
	height:100%;
	background-size:cover;
	display:inline-block;
}
.instructorField{
    width:95%;
    margin-left:5%;
    margin-top:1%;
}
.instructorName{
    margin-top:1%;
    font-size: 2vw;
    text-overflow:ellipsis;
}
.instructorProfession{
    margin-top:0px;
    font-size: 1vw;
    text-overflow:ellipsis;
}
.instructorLink{
    width:10em;
    float:right;
    margin-right:10px;
}
.linkimage{
    margin-top:0px;
    height:100%;
    
}

.spacer{
    height:50px;
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) {
.instructorBox{
	   width:90%;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
.instructorBox{
	   width:90%;
    }
}

@media all and (max-width: 480px) {
    h2{
        font-size:2em;
        padding-left:0px;
    }
    .instructorBox{
	   width:100%;
        margin:0px;
        height:100px;
    }
    .instructorImageContainer{
        width:30%;
    }
    .instructorImageContainer div{
        background-position: center bottom;
    }
    .instructorInfoContainer{
        width:70%;
    }
    .instructorName{
        width:100%;
        margin-left:5%;
        margin-top:2%;
        font-size: 1em;
        text-overflow:ellipsis;
    }
    .instructorProfession{
        margin-top:0px;
        font-size: 0.8em;
        text-overflow:ellipsis;
    }
    .instructorEmail{
        margin-top:0px;
        font-size:0.8em;
    }
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
