#backgroundImage{
	background-image:url('../images/location/background.jpg');
}
#whiteRectangle{
	position:relative;
	top:-50px;
	left:5%;
	right:5%;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
	width:90%;
    min-height: 600px;
	background-color:white;
	border:1px solid #CCCCCC;
	box-shadow: 1px 1px 5px #888888;
}

.contentRectangle{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
}

#face{
    font-size: 1.5vw;
}
#email{
    font-size: 1.5vw;
}
#phone{
    font-size: 1.5vw;
}

.borderrectangle{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 60%;
    border-color: gray;
    border-style: solid;
    border-width: 1.3px;
}
.borderrectangle h3{
    margin-left: 20px;
}

.imagediv{
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 39%;
}

#map-canvas {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    height: 280px;
    margin-left: 30px;
    margin-right: 0px;
    background-color: gray;
}

.infodiv{
    margin-bottom: 10px;
    height:70px;
    width:100%;
    display:inline-block;
}
.infodiv{
    width:100%;
    height:15%;
}

.infodiv .infodivIcon{
    width:5%;
    vertical-align:top;
    display:inline-block;
}
.infodiv .infodivIcon img{
    width:100%;
}

.infodiv .infodivText{
    width:80%;
    vertical-align:top;
    display:inline-block;
    text-align: left;
}
#contactsTitle{
    font-size: 2em;   
}

#bigg1,#bigg2,#city,#via{
    margin-left:10px;margin-top:0px;
}



#addressinfo{
    margin: 0px;
    padding: 0px;
    height: 120px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 32%;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }


@media all and (max-width: 1000px) {
    #backgroundImage{
        height:150px;
    }
    .imagediv{
        display: none;
    }
    .borderrectangle{
        width: 99%;
    }
    #bigg,#city,#via,#email,#face,#phone{
        font-size: 1.2em;
    }
    #email,#face,#phone{
        font-size: 1em;
    }
    .infodiv .infodivIcon{
        width:15%;
        vertical-align: middle;
    }
}

@media all and (max-width: 620px) {
    .contentRectangle{
        width:100%;
    }
    #whiteRectangle{
        padding:0px;
    }
    #face{
        width: 70%;
    }
    #email{
        width: 70%;
    }
    #phone{
        width: 70%;
    }
    
    #first{
        height: 500px;
    }
    #map-canvas{
        width: 85%;
    }
    #addressinfo{
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
    
    #bigg2{
        margin-left:0px;margin-top:0px;
    }
    #city{
        margin-left:0px;margin-top:0px;
    }
    #via{
        margin-left:0px;margin-top:0px;
    }

}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}

