#content{
	width:100%;
	top:50px;
	position:absolute;
}



#menu{
	width:100%;
	height:50px;
	z-index: 999;
	background-color:#3a3a3a;
	box-shadow: 1px 1px 5px #888888;
}
#menu #logoTopSmall{
	height:45px;
	margin-left:5px;
	display:inline-block;
	vertical-align: middle;
}
#menu #projectName{
	font-size: 1.8em;
	display:inline;
	vertical-align: middle;
	color: #aaaaaa;
	margin-left:5px;
}
#menuContainer{
	top:5px;
	right:10px;
	margin-top:0px;
	display:block;
	position:absolute;
	left:auto;
}
#menuContainer #menuButton{
	height:24px;
	margin-left:5px;
	display:inline-block;
	vertical-align: middle;
    cursor:pointer;
}

#menuContainer #menuText{
	font-size: 1.8em;
	display:inline;
	vertical-align: middle;
	color: #aaaaaa;
	margin-right:5px;
    cursor:pointer;
}

#menuBar {
    position:fixed;
    top:50px;
    right:0px;
    height: 100%;
    max-width:250px;
    background-color: #3a3a3a;
    width: 30%;
    z-index:999;
    padding-top:20px;
    display:none;
    
}

#menuBar ul{
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top:0px;
    
}
#menuBar ul li{
    padding-left:15px;
    color:#cccccc;
}
#menuBar ul li:hover{
    cursor:pointer;
    color:orange;
    border-left: 5px solid orange;
    border-right: 5px solid orange;
    
}
#menuBar .subMenu li{
    padding-left: 35px;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
    #menuContainer #menuText{
        display:none;
    }
}

@media all and (max-width: 480px) {
   
    #menuContainer #menuText{
        display:none;
    }
    #menuBar {
        width: 100%;
        max-width:none;
    }
    #menuBar ul li{
        font-size:1.9em;
        color:#cccccc;
        text-align:center;
    }
    #menuBar ul li:hover{
       
    }
    #menuBar .subMenu li{
        font-size:1.4em;
        display:none;
    }
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
